* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	background: #21313C;
	width: 100%;
	height: 100%;
	position: relative;
    min-height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    color: #c6d4df;
    font-size: 12px;
}

nav {
	background: #C43030;
	width: 100%;
	padding: 10px;
	z-index: 12;
	display: flex;

}
nav .banner {
	max-width: 1250px;
	margin: auto;
	display: flex;
	padding: 0 20px;
}

.banner .logo a {
	position: fixed;
	text-decoration: none;
	color: #fff;
	font-size: 35px;
	font-weight: 600;
}

.banner ul {
	display: inline-flex;
	max-width: 1250px;
	margin: auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 20px;
}

.banner ul li {
	list-style: none;
	margin-left: 7px;
}

.banner ul li:first-child {
	margin-left: 0px;
}

.banner ul li a {
	text-decoration: none;
	color: #fff;
	font-size: 18px;
	font-weight: 500;
	padding: 8px 15px;
	border-radius: 5px;
	transition: all 0.3s ease;
}

.banner ul li a:hover {
	background: #fff;
	color: black;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
    margin: 10px 0;
}

h1 {
	font-size: 42px;
}

h2 {
	font-size: 32px;
}

h3 {
    font-size: 24px;
}

p {
	margin-top: 1.2em;
    margin-bottom: 1.2em;
    font-size: 15px;
}

.list p {
	margin-top: 0.1em;
	margin-bottom: 0.1em;
}

.title {
	font-size: 36px;
	color: #fff;
	text-align: left;
	text-decoration: underline;
}

.smallText {
	font-size: 22px;
	color: #fff;
	text-align: left;
}

.textBox {
	background: #9D63F3;
	max-width:fit-content;
	padding-bottom: 5px;
	padding-left: 5px;
	padding-right: 5px;
}

td {
	text-align: center;
}

.rules {
	border-left: 4px solid #AC78F9;
}

/*
#DFA739 text boxes
#5DA622 side menu
#C43030 Banner
#5D71BA bg
*/